/* About section */
#about {
    display: inline;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-columm-1 {
    margin-top: 5%;
    flex-basis: 55%;
}

.about-columm-1 p {
    margin-top: 3%;
}

.about-columm-2 {
    margin-top: 5%;
    flex-basis: 40%;
}

.about-columm-2 img {
    width: 50%;
    border-radius: 1px;
}