/* About section */
#about {
    display: inline;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-columm-1 {
    margin-top: 5%;
    flex-basis: 65%;
    
}

.about-columm-1 p {
    margin-top: 3%;
    color: #ffffff;
    margin-bottom: 15px;
    
}

.about-columm-2 {
    margin-top: 5%;
    flex-basis: 30%;
}

.about-columm-2 img {
    width: 100%;
    border-radius: 1px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container a {
    text-decoration: none;
    margin-top: 3%;
    border: none;
    outline: none;
    padding: 6px 10px;
    background-color: #459591;
    cursor: pointer;
    color: white;
}

.btn-container a:hover {
    background-color: #4595912c;
}
@media (max-width: 600px) {

    .about-columm-1 h1{font-size: 30px;}
    .row {
        display: grid;
    }
    .about-columm-1 p {
        font-size: 14x;
        margin-bottom: 10px;
    }
    .btn-container a{
        font-size: 20px;
    }
    .about-columm-2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-columm-2 img{
        width: 61%;
    }
}