.form-container {
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #459591;
  border: 3px solid #459591;
}

input[type="submit"] {
  background-color: #459591;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #45959188;
}

textarea#message {
  width: 50%;
}

.otherCommunication {
  text-align: center;
}