/* Projects sections */
.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none;
}

.column:hover {
    background-color: #459591;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #4595912c;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    margin-top: 2%;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #4595912c;
    cursor: pointer;
    color: white;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #459591;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #459591;
    color: white;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container button {
    margin-top: 3%;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #459591;
    cursor: pointer;
    color: white;

}

.btn-container button:hover {
    background-color: #4595912c;
}