.Slideshow-projects {
    margin-top: 2.5%;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.mySlides .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    background: #459591;
    padding: 8px 16px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.mySlides a:hover .hover-text {
    opacity: 1;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 65.5%;
    width: auto;
    padding: 18px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #459591
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #000;
    padding: 30px 16px;
    color: white;
}

.projects-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.projects-column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.3;
}

.active,
.demo:hover {
    opacity: 1;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.more-projects {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

@media (max-width: 600px) {
    .prev,
    .next {
    display: none;
    }
    .caption-container {
        font-size: 11px;
    }
    .more-projects a{
        font-size: 11px;
    }
}