* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-repeat: repeat;
    background-color: black;
    /* background-color: #459591; */
    color: white;
    background-size: auto;
}

a {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.container {
    padding: 10px 10%;
}

/* The alert message box is to be deleted*/
.alert {
    padding: 10px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.content a {
    text-decoration: none;
}