/*Top button */
#topButton {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 65px;
    width: 65px;
    display: none;
    /* background-color: #459591; */
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

#progress-value:hover {
    background-color: #459591;
    color: black;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #459591;
}